@import "./variables.scss";
.Project {
	max-width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 45% 55%;
	margin-bottom: 5rem;
	margin-top: 5rem;

	.project-preview {
		border-radius: 0.75rem;
		display: flex;
		justify-content: flex-end;
		.image {
			display: inline-flex;
			flex-direction: column;
			position: relative;
			border-radius: 0.75rem;
			box-shadow: 0.15rem 0.15rem 0 2px $accent-sec;
			transition: all 0.3s ease-in-out;

			img {
				transform: translate(-0.5rem, -0.5rem);
				transition: all 0.3s ease-in-out;
				border-radius: 0.75rem;
				max-width: 100%;
				filter: brightness(0.75);
			}
		}
	}

	&:hover {
		.project-preview .image {
			box-shadow: 0.1rem 0.1rem 0 1px $accent;

			img {
				filter: brightness(1);
				transform: translate(0, 0);
			}
		}
	}

	.project-info {
		margin: auto;
		margin-left: 0;
		margin-right: 0;
		height: 12rem;
		max-width: 60ch;
		border-radius: 0.75rem;

		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		padding: 0.75rem 1rem;
		padding-left: 2rem;

		display: flex;
		flex-direction: column;
		background: #223886;
		justify-content: space-evenly;
		.title {
			text-align: center;
			font-size: 1.4rem;
			span {
				color: $accent;
			}
			margin-bottom: 1rem;
		}
		.description {
			position: relative;
			padding-right: 0.5rem;
			font-size: 1.1rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.project-meta {
				font-size: 1rem;
				margin-top: 1rem;
				display: flex;
				justify-content: space-between;
				span {
					margin-right: 1rem;
					color: $accent;
					&.--link {
						color: $text;
						margin: 0;
						i {
							position: relative;

							margin-right: 3ch;
							svg {
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
							}
						}
						&:hover {
							color: $accent;
						}
					}
				}
			}
		}
	}

	&:nth-child(odd) {
		grid-template-columns: none;
		grid-template-columns: 55% 45%;
		.project-preview {
			order: 2;
			justify-content: flex-start;
		}
		.project-info {
			order: 1;
			margin-left: auto;
			padding: 0.75rem 1rem;
			padding-left: 2rem;

			border-radius: 0.75rem;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}
